body{
    background-color: silver;
    font-size: 16;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
button{
    color:blue;
    width: 30px ;
    height: 30px;
    
}
button:hover{
    background-color: black;
    color:white;
}
 div{
     background-color: aliceblue;
width: 180px;


     
 }